@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
	text-align: center;
	font-size: 5vh;
	background:linear-gradient(to left,#6fb1fc,#4364f7,#0052d4);
}
table{
	margin: auto;
}
td{
	width:100px;
	height: 100px;
}
tr:nth-of-type(1) td{
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
tr:nth-of-type(2) td{
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
tr:nth-of-type(3) td{
	border-right: 2px solid black;
}
tr td:nth-of-type(3){
	border-right:none;
}

#reset{
	padding:10px;
	border: none;
	border-radius: 25px;
	outline: none;
	font-weight: 600;
	float: left;
}
.turn
{
	border: none;
	width: inherit;
	height: inherit;
	padding-bottom: 15px;
	text-align: center;
	background-color: transparent;
	outline: none;
	font-family: 'Permanent Marker', cursive;
	font-weight: 400;
	font-size: 2rem;
}
#plyr1,#plyr2{
	border: 1px solid black;
	border-radius: 40px;
	background:#dddddd;
	padding: 15px;
	margin: 10px;
	opacity: .5;
}
#plyr1{
	float: left;
	color: red;
}
#plyr2{
	float: right;
	color: green;
}
